
.check-box .box{
    -fx-background-color: #1e1e1e;
    -fx-border-color: #2ecc71;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
}

.check-box:selected .mark{

    -fx-background-color: white;
}



.check-box:selected .box{
    -fx-background-color: #2ecc71;
    -fx-border-color: #2ecc71;
}
.check-box:hover .box{

    -fx-background-color: #2a2a2a;
    -fx-border-color: #58d68d;
}


.check-box{

    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI";
}