.foto {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 15, 0, 0, 8);
    -fx-overflow: hidden; 
}
.portada {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #2A2A2A;
    -fx-border-width: 2;
}

.portada-verde {
    -fx-background-color: #1DB954;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 4;
    -fx-effect: dropshadow(gaussian, rgba(29, 185, 84, 0.4), 20, 0.5, 0, 0);
}

.portada-azul {
    -fx-background-color: #00D2FF;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 210, 255, 0.4), 20, 0.5, 0, 0);
}

.portada-magenta {
    -fx-background-color: #E91E63;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-padding: 4;
    -fx-effect: dropshadow(gaussian, rgba(233, 30, 99, 0.4), 20, 0.5, 0, 0);
}