.music{
    -fx-background-color: #181818;
    -fx-background-radius: 15;
    -fx-padding: 7;
    -fx-border-radius: 15;
    -fx-border-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.25),8,0.2, 0, 2 );
}


.music:hover{
    -fx-background-color:  #181818;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-cursor: hand;
}